@page
@model TaskWeb.Pages.TodosModel
@{
    ViewData["Title"] = "Lista de Tarefas";
}

<h1>@ViewData["Title"]</h1>

<a href="/AddTodo">Adicionar Tarefa</a>

<ul>
    @foreach (var item in Model.TodoItems)
    {
        <li>
            @item.Title (@(item.IsDone ? "✔️ Concluída" : "⏳ Pendente"))

            @if (!item.IsDone)
            {
                <a href="/CompleteTodo/@item.Id">Marcar como concluída</a>
            }

            <a href="/DeleteTodo/@item.Id" style="margin-left:10px; color:red;">Excluir</a>
            <a href="/EditTodo/@item.Id" style="margin-left:10px;">Editar</a>


        </li>
    }
</ul>

